h1 {
  font-size: 4rem;
  font-family: 'Libre Baskerville', serif;
}

.seccion-clara{
  color: black;
  background-color: white;
}

.seccion-oscrura{
  color: white;
  background-color: #830000;
}

.seccion_form {
  display: flex;
  align-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  gap: 10px;
}